<div class=" mt-2" style="display:flex; justify-content:space-around ; border-radius: 5pt; flex-wrap:wrap">
  <div class="bg-secondary">
    <h2 class="p-2"> Login</h2>
    <div class="mb-3 mt-3 p-3">
    <form class="login-form">
      
        <label for="email-login" class="form-label">email:</label>
        <input class="form-control"  type="text" id="email-login" />
        <label  class="form-label" for="password-login">password:</label>
        <input class="form-control"  type="password" id="password-login" />
        <button class="m-4 btn btn-secondary" type="submit">login</button>
     
    </form>
     </div>
  </div>
  <div class="bg-secondary">
    <h2 class="p-2">Signup</h2>
    <div class="mb-3 mt-3 p-3" >
      <form class="signup-form">
        
          <label class="form-label" for="name-signup">name:</label>
          <input class="form-control" type="text" id="name-signup" />    
          <label  class="form-label" for="email-signup">email:</label>
          <input class="form-control" type="text" id="email-signup" />
          <label class="form-label" for="password-signup">password:</label>
          <input class="form-control" type="password" id="password-signup" />
          <button class="mt-4 btn btn-secondary" type="submit">signup</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
